/* TRENTING COLOR PALLET SITE:
https://coolors.co/palettes/trending */

body {
    background-color: lightblue;
}

.solutionsection1arrangeequation1 {
    background-color: #f25f5c;
}

.solutionsection2sub1into2 {
    background-color: #ffe066;
}

.solutionsection3subxintorearrangedequation1 {
    background-color: #247ba0;
}

.answer {
    background-color: #70c1b3;
}